# Node
backend/node_modules
backend/.env

# Fabric generated stuff
network/organizations
network/crypto-config
network/channel-artifacts
network/*.tar.gz
network/**/*.tar.gz

# Wallet (DO NOT COMMIT KEYS)
# backend/wallet/*.pem

# OS / editor
.DS_Store
*.log
